<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" backupStaticAttributes="false" colors="true" convertErrorsToExceptions="false" convertNoticesToExceptions="false" convertWarningsToExceptions="false" processIsolation="false" stopOnFailure="false" bootstrap="vendor/autoload.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage>
    <include>
      <directory>./</directory>
    </include>
    <exclude>
      <directory>./Tests/</directory>
      <directory>./Resources/</directory>
      <directory>./DependencyInjection/</directory>
      <directory>./vendor/</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="with-bundle-dependencies">
      <directory>./Tests/Miscelania</directory>
    </testsuite>
    <testsuite name="no-bundle-dependencies">
      <directory>./Tests/NoBundleDeps</directory>
    </testsuite>
  </testsuites>
</phpunit>
